.todo{
    margin-top: 60px;
    min-height: 100vh;
    object-fit: cover;
    justify-content: space-around;
    display:block;
}

.input{
    border: 3px solid #000;
    border-radius: 5px;
    height: 30px;
    line-height: normal;
    display:inline-flex;
    color: #282828;
    justify-content: center;
    font-size: 16px;
}
.input:focus{
    border: 3px solid #5551ff;
}

